.hero {
  @apply w-full py-10 flex relative content-center items-center;
  background-position: center center;
  background-size: cover;
  min-height: 250px;

  p {
    @apply py-2;
  }

  &.hero--two-thirds {
    min-height: 60vh;
  }

  &.hero--full {
    min-height: 100vh;
  }

  &.hero--end {
    @apply items-end;
  }

  .hero-overlay {
    @apply absolute inset-0;
    background-color: rgba(0, 0, 0, .75);
  }

  &.hero--gradient--blue-ruby {
    @apply text-white;
    background: rgb(0, 18, 19);
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(139, 30, 63, 1) 100%);
  }

  &.hero--gradient--teal-aqua {
    @apply text-white;
    background: rgb(0, 18, 19);
    background: linear-gradient(90deg, #E65137 35%, #8884FF 100%);
  }

  & > .container {
    @apply z-10;
  }

}
